<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/tlr"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tlr"
        android:supportsRtl="true"
        android:theme="@style/Theme.YoloV8_Detect"
        tools:targetApi="31">

        <activity
            android:name=".tim"
            android:exported="false" />

        <!-- Jadikan aktivitas utama sebagai launcher -->
        <activity
            android:name=".utama"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity tidak lagi menjadi launcher -->
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="true"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

    </application>

</manifest>
